<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="page_d_accueil.Properties.Settings.BD_STOCK_SCHUMACHERConnectionString"
            connectionString="Data Source=SRV-SQL\SQL_SLAM;Initial Catalog=BD_STOCK_SCHUMACHER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="page_d_accueil.Properties.Settings.BD_STOCK_SCHUMACHERConnectionString1"
            connectionString="Data Source=PC-Mathias\SQLEXPRESS;Initial Catalog=BD_STOCK_SCHUMACHER;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>